asgiref==3.7.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.1
dj-database-url==2.1.0
Django==4.2.7
gunicorn==21.2.0
idna==3.3
packaging==23.2
pip==22.0.4
psycopg2-binary==2.9.9
requests==2.28.1
setuptools==58.1.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.12
whitenoise==6.6.0
