{% extends 'base.html' %} {% block content %}
<h2>Lendas do nosso futebol</h2>
{% if jogador_list %}
<section class="lista-de-cards">
    {% for jogador in jogador_list %}
    <article class="card">
      <a href="{% url 'jogadores:detail' jogador.id %}"> <!-- modifique esta linha -->
          <img src="{{ jogador.poster_url }}" alt="Poster do jogador {{ jogador.name }}" />
      </a>
      <p>{{ jogador.name }} </p>
    </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum jogador.</p>
{% endif %} {% endblock content %}